/vendor
/.idea
/tests/Bridge/Symfony/var
/tests/Bridge/Symfony/cache
/tests/Bridge/Symfony/logs
/.bref/
/.phpcs-cache
/composer.lock
/.couscous/
/.netlify/
.DS_Store
/.serverless/
.phpunit.result.cache
node_modules
.vercel
